nav img {
    width: 150px;
}

nav{
    background-color: skyblue;
    padding: 10px;
}
nav ul {
    float: right;
    list-style-type: none;
}

ul li {
display: inline-block;
padding: 10px;
}



li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}